
<div  class="panel panel-default" ng-controller="DriverController">
    <!-- Default panel contents -->
    <div style="background-color: #000000;color: #ffff00" class="panel-heading">Update Status {{counter}}  <i> {{ms}} </i></div>

    <div class="panel-body">
        <form >

            <div class="form-group">
                <label for="status">Status</label>

                <select class="form-control" id="status" ng-model="status">
                    <option value="busy">Busy</option>
                    <option value="available">Available</option>
                    <option value="off-duty">Off-Duty</option>
                    <option value="invisible" disabled="true">Invisible</option>
                </select>
            </div>
            <button type="submit" ng-click="submit()"     id ="submit-coord" class="btn btn-warning">Update</button>
			 <button type="submit" ng-click="showdlg()" id ="submit-invoice" class="btn btn-success">Show Invoice</button>
        </form>

    </div>
</div>
</div>



<div id="sync-notification">
    {{syncNotification}}
</div>

<div ng-show="msgdiv && !accepted" id="msgdiv" class="panel panel-default" ng-controller="DriverController">
    <!-- Default panel contents -->
    <div style="background-color: #000000;color: #ffff00" class="panel-heading">Incoming Service Request - <i> {{TaxiCounter}} Seconds Remaining </i> </div>
    <div class="panel-body">
        <div id="async_notification">
            Confirmation:<br/><br/>
            {{asyncNotification}}<br/><br/>
            <button type="submit" ng-click="accept()" id ="submit-accept" class="btn btn-success">Accept</button>
            <button type="submit" ng-click="reject()" id ="submit-reject" class="btn btn-danger">Reject</button>
        </div>
    </div>
</div>
