<div class="padding" ng-controller="DriverController">
<div style="background-color: #ffff00" class="jumbotron">
    <p class="lead">
        Taxi Taxi Limited.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Connect Now!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
</div>

