
<div  class="panel panel-default">
  <!-- Default panel contents -->
  <div style="background-color: #000000;color: #ffff00" class="panel-heading">Update Status <i> {{ms}} </i></div>

  <div class="panel-body">
    <form >

      <div class="form-group">
        <label for="status">Status</label>

        <select class="form-control" id="status" ng-model="status">
          <option value="busy">Busy</option>
          <option value="available">Available</option>
          <option value="off-duty">Off-Duty</option>
          <option value="invisible" disabled="true">Invisible</option>
        </select>
      </div>
      <button type="submit"   ng-click="submit()" id ="submit-coord" class="btn btn-warning">Update</button>
    </form>

  </div>
</div>
</div>

<div id="invoice">
  <label>Amount payable: {{invoice | number : 2}} euros</label>
</div>

<div id="sync-notification">
  {{syncNotification}}
</div>

<div ng-show="msgdiv && !accepted" id="msgdiv" class="panel panel-default">
  <!-- Default panel contents -->
  <div style="background-color: #000000;color: #ffff00" class="panel-heading">Incoming Service Request - <i> {{TaxiCounter}} Seconds Remaining </i> </div>
  <div class="panel-body">
<div id="async_notification">
  Confirmation:<br/><br/>
  {{asyncNotification}}<br/><br/>
  <button type="submit" ng-click="accept()" id ="submit-accept" class="btn btn-success">Accept</button>
  <button type="submit" ng-click="reject()" id ="submit-reject" class="btn btn-danger">Reject</button>
</div>
  </div>
</div>
