<div class="padding" ng-controller="BookingsController">

    <super-navbar>
        <super-navbar-title>
            Welcome to Taxi Bookings!
        </super-navbar-title>
    </super-navbar>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Call The Nearest Taxi Now</div>
        <div class="panel-body">
           <form>
                <div class="form-group">
                    <label for="name">Passanger Name</label>
                    <input id="name" type="text" class="form-control" value="a" ng-model="name" placeholder="Customer Name">
                </div>


                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" type="text" class="form-control"  ng-model="address" placeholder="Address">
                </div>

               <div class="form-group">
                   <label for="destination">Destination</label>
                   <input id="destination" type="text" class="form-control"  ng-model="destination" placeholder="Destination">
               </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id = "email" type="email" class="form-control" value="a@a.a" ng-model="email" placeholder="Enter email">
                </div>

                <div class="form-group">
                <label for="phone">Mobile Phone</label>
                <input id = "phone" type="text" class="form-control" ng-model="phone" placeholder="Mobile Number">
            </div>
                <button class="button button-block button-positive" type="submit"   ng-click="submit()" id ="submit-coord" class="btn btn-danger">Book Now</button>

            </form>
            <div id="sync-notification">
                Message: {{syncNotification}}
            </div>

            <div id="async-notification">
                {{asyncNotification}}
            </div>
            </div>
        </div>
    </div>



</div>